POSTGRES_USER=mlops_user
POSTGRES_PASSWORD=mlops_password
POSTGRES_DB=mlflow_db

PGADMIN_DEFAULT_EMAIL=admin@mlops.local
PGADMIN_DEFAULT_PASSWORD=admin123

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

MLFLOW_TRACKING_URI=http://localhost:5000