# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Data
data/raw/
data/processed/
*.csv

# ML artifacts
mlruns/
artifacts/
models/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.log
