# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.pytest_cache/

# Environment variables
.env

# Data
data/raw/
data/processed/
data/interim/
*.csv

# MLflow
mlruns/

# Artifacts and models
artifacts/
models/
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# Docker logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
